
h2 {
    color: black;
    font-size: 2em;
    text-align: center;
    text-decoration: solid;
    width: 100%;
    background-color: gold;
    
}

body {
    font-size: 20px;
    background-color: rgb(502, 200, 314);
    line-height: 2em;       
      
}

#junco {
    background-color: blueviolet;

}

#junco {
    color: aquamarine;
}

#ssa {
    color: rgb(554, 123, 444);
}

p {
    font-weight:lighter;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.phones {
    font-weight: bold;
    line-height: 30px;
}

